{
     "environment": "production",
     "mongo": {
          "protocol": "mongodb",
          "hostname": "localhost",
          "port": 27017,
          "db": "test",
          "user": "admin",
          "password": "admin"
     }
}